.button {
  font-size: 20px;
  font-family: var(--main-font);
  width: 130px;
  height: 48px;
  vertical-align: middle;
  font-weight: 700;
  border-radius: 8px;
  letter-spacing: 1.5px;
}

.primary {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  background: var(--blue-500);
  color: var(--white);

  &:hover {
    background: var(--blue-700) !important;
    color: var(--white) !important;
  }
}

.secondary {
  background: var(--white);
  color: var(--blue-500);
  border: 2px solid var(--blue-500);

  &:hover {
    background: var(--gray-100) !important;
    color: var(--blue-500) !important;
    border-color: var(--blue-500) !important;
  }
}

